*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

 #myChart {
    width: 20px;
    height: 20px;
    background-color: white;
    color: black;
} 
